.home{
    &-profileCard{
        &-container{
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
        }
        color: var(--white);
        min-width: 250px;
        width: 1200px;
        height: 80vh;
        display: flex;
        flex-direction: column;
        background-color: var(--bg-color-tertiary);
        opacity: .9;
        border-radius: 9px;
        
    }
}