.modal-container{
    width: 60vw;
    height: 60vh;
    background-color: var(--bg3);
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    border-radius: 9px;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}