.badge{
    font-size: var(--font-size-tertiary);
    font-weight: bold;
    border-radius: 25px;
    padding: 5px 15px;
    background-color: var(--bg-color-secondary);
    color: var(--text-color-main);

}