@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&family=Roboto+Slab:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@200..900&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&family=Roboto+Slab:wght@100..900&display=swap');
body {
  margin: 0;
  font-family: "Inconsolata",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

:root{

}

video::-webkit-media-controls {
  display: none !important;
}

video::-webkit-media-controls-enclosure {
  display: none !important;
}

/*colors*/
:root {
  --white: #ffffff;
  --black: #000000;
  --dark: #090909;
  --darkgrey: #222222;
  --grey: #4b4b4b;
  --lightgrey: #9b9b9b;
  --light: #e6e6e6;
  --blue: #0d6efd;
  --red: #f20000;
  --green: #4ab022;
  --orange: #faab17;
  --purple: #8b44fd;
  --yellow: #fdfd44;


  --lightMode2: #f4f4f4;
  --lightMode3: #dddddd;
  --lightMode4: #dfdfdf;
  --lightMode5: #959595;
  --lightMode6: #717171;
  --lightMode7: #373737;
}

.light-theme{
  --buttonBgMain: var(--blue);
  --buttonCoMain: var(--white);
  --textMain: var(--black);
  --textSecondary: var(--lightgrey);
  --textThird: var(--white);
  --textFourth: var(--light);
  --bg-color-main: var(--white);
  --bg-color-secondary: #284b63;
  --bg-color-tertiary: #3c6e71;
  --text-color-main: #000000;
  --text-color-secondary: #5b5959;
  --bg1: var(--white);
  --bg2: var(--lightMode2);
  --bg3: var(--lightMode3);
  --bg4: var(--lightMode4);
  --bg5: var(--lightMode5);
  --bg6: var(--lightMode6);
  --bg7: var(--lightMode7);
  --bgBlue: var(--blue);
  --bgRed: var(--red);
  --bgOrange: var(--orange);
  --bgGreen: var(--green);
  --bgPurple: var(--purple);
}

.dark-theme {
  --bg-color-main: #121212;
  --bg-color-secondary: #284b63;
  --bg-color-tertiary: #3c6e71;
  --text-color-main: #fff;
  --text-color-secondary: #bebaba;
  --buttonBgMain: var(--blue);
  --buttonCoMain: var(--white);
  --textMain: var(--white);
  --textSecondary: var(--lightgrey);
  --textThird: var(--black);
  --textFourth: var(--dark);
  --bg1: var(--black);
  --bg2: var(--dark);
  --bg3: var(--darkgrey);
  --bg4: var(--grey);
  --bg5: var(--lightgrey);
  --bg6: var(--light);
  --bg7: var(--white);
  --bgBlue: var(--blue);
  --bgRed: var(--red);
  --bgOrange: var(--orange);
  --bgGreen: var(--green);
  --bgPurple: var(--purple);
}



:root{
  --font-size-main: 1.2rem;
  --font-size-secondary: 1.1rem;
  --font-size-tertiary: 1rem;
  --font-size-quaternary: .9rem;  
}

@media only screen and (min-width: 600px) {
}

@media only screen and (min-width: 730px) {
  :root{
    --font-size-main: 1.1rem;
    --font-size-secondary: 1.1rem;
    --font-size-tertiary: 1rem;
    --font-size-quaternary: .9rem;
  }
}

@media only screen and (min-width: 1120px) {
  :root{
    --font-size-main: 1.4rem;
    --font-size-secondary: 1.3rem;
    --font-size-tertiary: 1.2rem;
    --font-size-quaternary: 1.1rem;
  }
}



// Start of General Classes 

.visible-on-{ 
  &desktop, &mobile, &tablet{ 
    display: none !important;
    visibility: hidden !important;
  }
}

.hidden-on-{
  &desktop, &mobile, &tablet{ 
    display: none !important;
    visibility: hidden !important;
  }
}


// MOBILE
@media only screen and (max-width:360px){
  .visible-on-mobile{ 
    display: block !important;
    visibility: visible !important;
  }
}

@media only screen and (max-width:768px){
  .visible-on-tablet{ 
    display: block !important;
    visibility: visible !important;
  }
}

@media only screen and (min-width:769px){
  .visible-on-desktop{ 
    display: block !important;
    visibility: visible !important;
  }
}


.h{
  &1{
    font-size: 3rem !important;
  }

  &2{
    font-size: 2rem !important;
  }

  &3{
    font-size: 1.6rem !important;
  }

  &4{
    font-size: 1.2rem !important;
  }

  &5{
    font-size: 1rem !important;
  }
}

.fs-{
  &1{
    font-size: var(--font-size-main) !important;
  }

  &2{
    font-size: var(--font-size-secondary) !important;
  }

  &3{
    font-size: var(--font-size-tertiary) !important;
  }

  &4{
    font-size: var(--font-size-quaternary) !important;
  }
}


.underline{
  text-decoration: underline;
}


.d-{
  &flex{ 
    display: flex !important;
  }
  &none{ 
    display: none !important;
  }
}

.flex-{
  &column{ 
    display: flex !important;
    flex-direction: column !important;
  }
  
  &row{ 
    display: flex !important;
    flex-direction: row !important;
  }
}


.visibility-{
  &hidden{
    visibility: hidden !important;
  }

  &visible{
    visibility: visible !important;
  }
}

.backface-{
  &hidden{
    backface-visibility: hidden !important;
  }

  &visible{
    backface-visibility: visible !important;
  }
}

.text-color-{
  &main{
    color: var(--text-color-main) !important;
  }

  &secondary{
    color: var(--text-color-secondary) !important;
  }

  &tertiary{
    color: var(--text-color-tertiary) !important;
  }

  &quaternary{
    color: var(--text-color-quaternary) !important;
  }

  &black{
    color: var(--black) !important;
  }

  &white{
    color: var(--white) !important;
  }

  &red{
    color: var(--red) !important;
  }

  &green{
    color: var(--green) !important;
  }
}


.circle{
  border-radius:50%;
  background-color: var(--bg-color-tertiary);
  padding: 10px;
}

.justify-{
  &between{ 
    justify-content: space-between !important;
  }

  &around{ 
    justify-content: space-around !important;
  }

  &center{ 
    justify-content: center !important;
  }
}

.align-{
  &center{ 
    align-items: center !important;
  }

  &start{ 
    align-items: flex-start !important;
  }

  &end{
    align-items: flex-end !important;
  }
}

.flex-{
  &-wrap{ 
    flex-wrap: wrap !important;
  }
}

.flex-gap-{
  &1rem{ 
    gap: 1rem !important;
  }

  &2rem{ 
    gap: 2rem !important;
  }

  &3rem{ 
    gap: 3rem !important;
  }

  &10p{ 
    gap: 10px !important;
  }

  &20p{ 
    gap: 20px !important;
  }
}

.opacity{
  &-0{ 
    opacity: 0 !important;
  }
  &-8{ 
    opacity: 0.8 !important;
  }
}

.cursor{
  &-pointer{ 
    cursor: pointer !important;
  }

  &-unset{ 
    cursor: unset !important;
  }

  &-default{ 
    cursor: default !important;
  }

  &-not-allowed{
    cursor: not-allowed !important;
  }

  &-zoom-in{
    cursor: zoom-in !important;
  }
}

.w-{
  &100{ 
    width: 100% !important;
  }  
  &75{
    width: 75% !important;
  }

  &50{ 
    width: 50% !important;
  }

  &25{ 
    width: 25% !important;
  }

  &90p{
    width: 90px !important;
  }

  &140p{
    width: 140px !important;
  }

  &fit-content{
    width: fit-content !important;
  }
}


.h-{
  &100{ 
    height: 100% !important;
  }  
  &75{
    height: 75% !important;
  }

  &50{ 
    height: 50% !important;
  }

  &25{ 
    height: 25% !important;
  }
}


.m{
  &-0{ 
    margin: 0 !important;
  }

  &-10{ 
    margin: 10px !important;
  }

  &-20{ 
    margin: 20px !important;
  }

  &-30{ 
    margin: 30px !important;
  }
  
  &b-{

    &10{ 
      margin-bottom: 10px !important;
    }

    &20{ 
      margin-bottom: 20px !important;
    }

    &30{ 
      margin-bottom: 30px !important;
    }
  }

  &t-{
    &10{ 
      margin-top: 10px !important;
    }

    &20{ 
      margin-top: 20px !important;
    }

    &30{ 
      margin-top: 30px !important;
    }
  }

  &r-{
    &10{ 
      margin-right: 10px !important;
    }

    &20{ 
      margin-right: 20px !important;
    }

    &30{ 
      margin-right: 30px !important;
    }
  }

  &l-{
    &10{ 
      margin-left: 10px !important;
    }

    &20{ 
      margin-left: 20px !important;
    }

    &30{  
      margin-left: 30px !important;
    }
  }
}

.mt-auto {
  margin-top: auto !important;
}

.mb-auto {
  margin-bottom: auto !important;
}

.ml-auto {
  margin-left: auto !important;
}

.mr-auto {
  margin-right: auto !important;
}

.text-align-{
  &left {
    text-align: left !important;
  }
  &center {
    text-align: center !important;
  }
  &right {
    text-align: right !important;
  }
  &justify {
    text-align: justify !important;
  }
}

.font-weight-{
  &light {
    font-weight: 300 !important;
  }
  &normal {
    font-weight: 400 !important;
  }
  &bold {
    font-weight: 700 !important;
  }
}

.font-size-{

  &main {
    font-size: var(--font-size-main) !important;
  }

  &secondary {
    font-size: var(--font-size-secondary) !important;
  }

  &tertiary {
    font-size: var(--font-size-tertiary) !important;
  }


  &small {
    font-size: 0.875rem !important;
  }
  &medium {
    font-size: 1rem !important;
  }
  &large {
    font-size: 1.25rem !important;
  }
}

.bg-color-{
  &main {
    background-color: var(--bg-color-main) !important;
  }
  &secondary {
    background-color: var(--bg-color-secondary) !important;
  }
  &tertiary {
    background-color: var(--bg-color-tertiary) !important;
  }
  &yellow {
    background-color: var(--yellow) !important;
  }
  &red {
    background-color: var(--red) !important;
  }
  &green {
    background-color: var(--green) !important;
  }
}

.border-radius-{
  &none {
    border-radius: 0 !important;
  }
  &small {
    border-radius: 5px !important;
  }
  &medium {
    border-radius: 10px !important;
  }
  &large {
    border-radius: 20px !important;
  }
}

.padding-{
  &0 {
    padding: 0 !important;
  }
  &10 {
    padding: 10px !important;
  }
  &20 {
    padding: 20px !important;
  }
  &30 {
    padding: 30px !important;
  }

  &t-10 {
    padding-top: 10px !important;
  }
  &b-10 {
    padding-bottom: 10px !important;
  }
  &l-10 {
    padding-left: 10px !important;
  }
  &r-10 {
    padding-right: 10px !important;
  }
}

// Dynamic Class Generators
@mixin size-dynamic($prefix, $property) {
  @each $size in (10, 20, 30, 40, 50, 75, 100) {
    .#{$prefix}-#{$size}p {
      #{$property}: #{$size}px !important;
    }
    .#{$prefix}-#{$size}vh {
      #{$property}: #{$size}vh !important;
    }
    .#{$prefix}-#{$size}pct {
      #{$property}: #{"#{$size}%"} !important;
    }
  }

  @for $i from 1 through 500 {
    .#{$prefix}-#{$i}p {
      #{$property}: #{$i}px !important;
    }
    .#{$prefix}-#{$i}vh {
      #{$property}: #{$i}vh !important;
    }
    .#{$prefix}-#{$i}pct {
      #{$property}: #{"#{$i}%"} !important;
    }
  }
}

@mixin size-dynamic-range($prefix, $property) {
  @each $size in (10, 20, 30, 40, 50, 75, 100) {
    .#{$prefix}-#{$size}p {
      #{$property}: #{$size}px !important;
    }
    .#{$prefix}-#{$size}vh {
      #{$property}: #{$size}vh !important;
    }
    .#{$prefix}-#{$size}pct {
      #{$property}: #{"#{$size}%"} !important;
    }
  }

  @for $i from 1 through 500 {
    .#{$prefix}-#{$i}p {
      #{$property}: #{$i}px !important;
    }
    .#{$prefix}-#{$i}vh {
      #{$property}: #{$i}vh !important;
    }
    .#{$prefix}-#{$i}pct {
      #{$property}: #{"#{$i}%"} !important;
    }
  }
}
// Include the mixins with different prefixes and properties
@include size-dynamic("w", "width");
@include size-dynamic("h", "height");
@include size-dynamic("m", "margin");
@include size-dynamic("p", "padding");

@include size-dynamic-range("min-w", "min-width");
@include size-dynamic-range("max-w", "max-width");
@include size-dynamic-range("min-h", "min-height");
@include size-dynamic-range("max-h", "max-height");
.animate__{
  &fadeIn{ 
    animation-duration: .5s ;
    animation-name: fadeIn !important;
  }
  &fadeOut{ 
    animation-duration: 1s ;
    animation-name: fadeOut !important;
  }
  &fadeInOpacity-8{ 
    animation-duration: .5s ;
    animation-name: fadeInOpacity-8 !important;
  }
}

@keyframes fadeIn  {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeOut  {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@keyframes fadeInOpacity-8  {
  from {
    opacity: 0;
  }
  to {
    opacity: .8;
  }
}

.content{
  width: calc(100% - 50px);
  min-height: calc(100vh - 110px);
  padding: 25px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  background-color: var(--bg-color-main);
}

.breadcrumb{
  color: var(--text-color-secondary);
  display: flex;
  flex-direction: row;
  gap: 10px;
}



.no-text-decoration{
  text-decoration: none !important;
}


// End of General Classes